name: Update GitHub Activity

on:
  schedule:
    - cron: '0 * * * *' # Updates every hour
  workflow_dispatch: # Allows you to run it manually

jobs:
  update-readme:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
